body {
  margin: 0;
}

#root {
  background-color: floralwhite;
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
}

.control {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .control {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .data-selector {
    margin: 0 auto;
  }

  .grade-display {
    margin: 0 auto 0 auto;
  }
}

@media screen and (min-width: 479px) {
  .grade-display {
    margin: 0 auto 0 0;
  }
}

.grade-display span {
  margin: 0 20px;
}

.kanji {
  font-family: "Noto Sans CJK JP", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ",
    Meiryo, sans-serif;
  font-size: 40pt;
  cursor: pointer;
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
}

.kanji-stats-bubble {
  visibility: hidden;
  position: absolute;
  font-size: 10pt;
  bottom: 60px;
  background-color: #0009;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.kanji:hover .kanji-stats-bubble {
  visibility: visible;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

footer {
  text-align: center;
}
